[submodule "vendors/cxxopts"]
	path = vendors/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "srcs/utils/concurrency"]
	path = srcs/utils/concurrency
	url = https://github.com/alexandretea/concurrency.git
